     <nav> 
      <div class="container">
        <div class="logo">
          </div>
          <div class="list">
          
        <a href="index">Inicio </a>
        <a href="servicios">Servicios Legales</a>
        <a href="equipo">Nosotras</a>
        <a href="blog">Blog </a>
        <a href="contacto">Contactanos</a>
        <a href="miCuenta">Mi expediente digital</a>
        <a href="politicas.html">Politicas de privacidad</a>
</div>
      </div>
</nav> 
 
  <!--  <nav> 
      <ul>
        <li>
          <a href="logo_img"> 
            <img src="/assets/img/img btb gris.jpg" alt="logobtb">
          </a>
        </li>
        <div class="menu">
        <li><a href="index">Inicio </a></li>
        <li><a href="servicios">Servicios Legales</a></li>
         <li><a href="equipo">Nosotras</a></li>
         <li><a href="blog">Blog </a></li>
         <li><a href="contacto">Contactanos</a></li>
         <li><a href="miCuenta">Mi expediente digital</a></li>
         <li><a href="politicas.html">Politicas de privacidad</a></li>

        </ul>
      </div>
</nav> -->
<!-- <nav>
  <ul style="list-style: none;">
  <div class="menu">
    <li><a href="index">Inicio</a></li>
        <li><a href="servicios">Servicios</a></li>
         <li><a href="equipo">Nosotras</a></li>
         <li><a href="blog">Blog </a></li>
         <li><a href="contacto">Contactanos</a></li>
         <li><a href="miCuenta">Mi expediente</a></li>
         <!-- <li><a href="politicas.html">Politicas de privacidad</a></li> 
    </ul>
  </div>
  </div>
  
</nav>
-->