<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
       
      <section>
       <!--  <div class="container navbar"> -->
      
      
</head> 
<body>
       <nav> 
      <div class="container">
        <div class="logo">
          </div>
          <div class="list">
          
        <a href="index">Inicio </a>
        <a href="servicios">Servicios Legales</a>
        <a href="equipo">Nosotras</a>
        <a href="blog">Blog </a>
        <a href="contacto">Contactanos</a>
        <a href="miCuenta">Mi expediente</a>
        
</div>
      </div>
</nav> 
 <!--  <header> -->
    <!-- <nav> 
<div class="Container">
  <div class="logo">
    </div>
    <div class="list">
      -->


 <!--  <div class="ancho">
  <div class="logo">
   -->
    <!-- 
      <p><a href="index"> {{titulo}} </a></p>
    -->
    <!-- </div> -->
    

   <!--{{>navbar}}
   
   <!-- </div> -->
   <!--  </nav>  -->
   <!--  </div> -->
  </header>


  

 <section class ="contenidoRosa">   </section>

  
  
<!-- banner borre
 -->
<section class="containerCarrusel"


  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="/assets/img/compliance-conceptual-1.jpg" class="d-block w-100" alt="comliance compliance-conceptual-1">
        <div class="carousel-caption d-none d-md-block">
          <h5>COMPLIANCE</h5>
          <p>Programas de integridad, códigos de conducta, canales de denuncia.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/img/mujerjugandovideojuegos.webp" class="d-block w-100" alt="mujerjugandovideojuegos">
        <div class="carousel-caption d-none d-md-block">
          <h5>ESPORTS</h5>
          <p>Modelos de negocio, género, nuevas tecnologías.</p>
        </div>
      </div>
      <div class="carousel-item">
        
        <img src="/assets/img/advice.jpg" class="d-block w-100" alt="advice">
        <div class="carousel-caption d-none d-md-block">
          <h5>TE ASESORAMOS Y ACOMPAÑAMOS DURANTE TODO EL PROCESO</h5>
          <p>Derecho Laboral, Accidentes, Derecho civil, derecho de Sociedades.</p>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

</section>
        
    </div>
  
<div class="imagenSecun"> 
  <img src="/assets/img/two-women-partners-handshaking-after-signing-business-contract-at-meeting.jpg" alt="mujeres firmando contrato">
</div>
<div class="imagenTerc">
  <img src="/assets/img/Nati y Clau byn.jpg" alt="mellis byn">
  <img src="/assets/img/Nati y Clau rya.jpg" alt="mellis rya">
</div>

    
    <div class="contenedorFlex" style="
    width: 80%;
    margin: 0 auto; 
    padding: 50px;
    background: rgb(121, 114, 118);
    ">
        
            <p> Somos un equipo de profesionales que se conforma con el objetivo de brindar un servicio técnico – jurídico de excelencia, preparadas para atender los requerimientos del mundo corporativo. Contamos con múltiples herramientas para asistir a empresas y personas físicas, tanto en el armado, estructuración y seguimiento de proyectos y negocios, como en la resolución de conflictos.
             Es nuestra prioridad la atención técnica y humana de nuestros clientes, por lo que nos adaptamos constantemente a sus necesidades y a las exigencias del mercado, siendo nuestro principal objetivo generar un vínculo empático y dinámico del cliente con nuestro equipo.
            </p>

        </section> 
    
        

        <!-- Script de la libreri POPPER y los archivos JS propios de Bootstrap -->
        
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js">
</script>



   <footer class="footer">
       <div class="bloqueFooter">
       <div>
           <h4 class="tituloFooter"> Get in touch  </h4>
           </h4>
        

            <ul class="menuFooter">
                <li><a href=""> Inicio </a></li>
                <li><a href="servicios.html"> Servicios Legales</a></li>
                 <li><a href="equipo.html"> Nosotras</a></li>
                 <li><a href="blog.html"> Blog </a></li>
                 <li><a href="contacto.html"> Contactanos</a></li>
                  <li><a href="politicas.hbs"> Políticas</a></li>
                </ul>
        
       </div>
       <div>
        <h4 class="tituloFooter"> Miembros de  </h4>
        </h4>
    

         <ul class="menuFooter">
             <li><a href=""> EDI </a></li>
             <li><a href="servicios.html"> Comisión de derecho informático del colegio de abogados</a></li>
              <li><a href="equipo.html"> Comisión de Compliance</a></li>
              <li><a href="politicas.html"> Comisión de Compliance</a></li>
             
             </ul>
    
    </div>
    <div>
        <h4 class="tituloFooter"> Get in touch  </h4></h4>
              <ul class="menuFooter">
             <li> <a href=""> Aviso Legal </a></li>
             <li> <a href="politicas"> Políticas de privacidad</a></li>
              <li> <a href="equipo"> Políticas de cookies</a></li>
              <li> <a href="blog"> Nuestro código de ética </a></li>
              <li> <a href="contacto"> Contactanos</a></li>
              <li> <a href="miCuenta"> Mi expediente digital</a></li>
             </ul>

    </div>
</div>
</div>
<div class="creditoFinal"> Desarrollado por @Legally twins. Todos los derechos reservados</div>


   </footer>
</body>
</html>