<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miCuenta.css">
    <script src="/assets/mainExp.js"></script>
    <title>Document</title>
</head>

<body>
<title>{{titulo}}</title>


    <h1>Mi Expediente digital</h1>
    <div class="modal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Carátula, N° de expediente</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="imagen">
              <h1>Hola ! Ahora puedes ver tu expediente</h1>
              <img src="/assets/img/expte electonico.jpeg" alt="expte electonico">
          
            <div class="modal-body modal-body-scroller">
              <p>Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      
              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
      
              <p>Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      
              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
          </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Message">
            </div>
          </div>
        </div>
      </div>
      
   <footer class="footer">
    <div class="bloqueFooter">
    <div>
        <h4 class="tituloFooter"> Get in touch  </h4>
        </h4>
     

         <ul class="menuFooter">
             <li><a href=""> Inicio </a></li>
             <li><a href="servicios.html"> Servicios Legales</a></li>
              <li><a href="equipo.html"> Nosotras</a></li>
              <li><a href="blog.html"> Blog </a></li>
              <li><a href="contacto.html"> Contactanos</a></li>
             </ul>
     
    </div>
    <div>
     <h4 class="tituloFooter"> Miembros de  </h4>
     </h4>
 

      <ul class="menuFooter">
          <li><a href=""> EDI </a></li>
          <li><a href="servicios.html"> Comisión de derecho informático del colegio de abogados</a></li>
           <li><a href="equipo.html"> Comisión de Compliance</a></li>
          
          </ul>
 
 </div>
 <div>
     <h4 class="tituloFooter"> Get in touch  </h4></h4>
           <ul class="menuFooter">
          <li> <a href=""> Aviso Legal </a></li>
          <li> <a href="servicios.html"> Políticas de privacidad</a></li>
           <li> <a href="equipo.html"> Políticas de cookies</a></li>
           <li> <a href="blog.html"> Nuestro código de ética </a></li>
           <li> <a href="contacto.html"> Contactanos</a></li>
           <li> <a href="miCuenta.html"> Mi expediente digital</a></li>
          </ul>

 </div>
</div>
</div>
<div class="creditoFinal"> Desarrollado por @Legally twins. Todos los derechos reservados</div>


</footer>
</body>

</html>