<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="servicios.css">
    <title>Document</title>
</head>
<header>
    <h1>SERVICIOS LEGALES</h1>
</header>
<body>
    <section>
        <div class="Servicios Legales">
            <div class="imagenes"> 
                <img src="./distribuida y descentralizada.gif" alt="redes distribuidas y descentralizadas">
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="bloqueFooter">
        <div>
            <h4 class="tituloFooter"> Get in touch  </h4>
            </h4>
         
 
             <ul class="menuFooter">
                 <li><a href=""> Inicio </a></li>
                 <li><a href="servicios.html"> Servicios Legales</a></li>
                  <li><a href="equipo.html"> Nosotras</a></li>
                  <li><a href="blog.html"> Blog </a></li>
                  <li><a href="contacto.html"> Contactanos</a></li>
                  <li><a href="politicas.html"> Políticas </a></li>
                 </ul>
         
        </div>
        <div>
         <h4 class="tituloFooter"> Miembros de  </h4>
         </h4>
     
 
          <ul class="menuFooter">
              <li><a href=""> EDI </a></li>
              <li><a href="servicios.html"> Comisión de derecho informático del colegio de abogados</a></li>
               <li><a href="equipo.html"> Comisión de Compliance</a></li>
              
              </ul>
     
     </div>
     <div>
         <h4 class="tituloFooter"> Get in touch  </h4></h4>
               <ul class="menuFooter">
              <li> <a href=""> Aviso Legal </a></li>
              <li> <a href="servicios.html"> Políticas de privacidad</a></li>
               <li> <a href="equipo.html"> Políticas de cookies</a></li>
               <li> <a href="blog.html"> Nuestro código de ética </a></li>
               <li> <a href="contacto.html"> Contactanos</a></li>
              </ul>
 
     </div>
 </div>
 </div>
 <div class="creditoFinal"> Desarrollado por Legally twins. Todos los derechos reservados</div>
 
 
    </footer>
    
</body>
</html>